<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>autentificacion</servlet-name>
        <servlet-class>CONTROLADOR.autentificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>CONTROLADOR.menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSession</servlet-name>
        <servlet-class>CONTROLADOR.cerrarSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autentificacion</servlet-name>
        <url-pattern>/autentificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSession</servlet-name>
        <url-pattern>/cerrarSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
